@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  height: 100%;
  margin: 0;
}



body {
  margin: 0;
  position: relative;
  min-height: 100%;
  font-size: 18px;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 27px;
  font-weight: 400;
  color: #333333;
}

